/**
 * Akvarium CSS udkast
 **/

/* Fjerner whitespace */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* Variabler: farvepaletten er lavet i JsFiddle */
 :root {
  --color-1: rgb(109 181 202);
  --color-2: rgb(184 216 224);
  --color-3: rgb(252 245 239);
  --color-4: rgb(255 114 53);
  --moerk: #000;
}

/* HD-skærmen er 1920x1080px og vi positionerer med absolute */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  touch-action: manipulation;
  font-family: sans-serif;
}

/* Position absolute gør måske positionering af sætstykker lettere */

img {
    width: 100%;
    height: auto; /* Fyld pladsen ud med billedet */ 
}

#scene {
background-image: url("../images/baggrund.png");
background-size: cover;
background-position: center;
width: 100vw;
height: 100vh;
position: absolute;
top: 0;
left: 0;}



/* Herunder kommer vores fiske animationer */




#Dvaergkejser {
   position: absolute;
   right: -100px;
   top: -600px;
    width: 500px;
    height: 300px;
 animation-name: svoem;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}
@keyframes svoem {
0% {
      top: 200px;
      right: 0px;
   }


 100% {
       top: 700px;
        right: 2000px;
 }
}




#doryfisk {
   position: absolute;
   right: 5px;
   top: 300px;
   width: 500px;
   height: 400px;
   animation: svoem 8s forwards ease-in-out;
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}




#snegl {
   position: absolute;
   right: 800px;
   top: 667px;
   height: 150px;
    width: 200px;
   /*animation: svoem 4s forwards ease-in-out;*/
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-10cm);
 }
}




#lilleklovnfisk {
   position: absolute;
   right: 100px;
   top: 50px;
   height: 170px;
    width: 230px;
   animation: svoem 3s forwards ease-in-out;
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
50% {
        top: 200px;
        right: 500px;
}   
 100% {
       transform: translateX(-1000px);
 }
}




#lillegraafisk {
   position: absolute;
   right: 70px;
   top: 50px;
   width: 150px;
   height: 100px;
   animation: svoem 4s forwards ease-in-out;
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}




#lilleblaafisk {
   position: absolute;
   right: 100px;
   top: 80px;
   width: 350px;
   height: 250px;
   animation: svoem 4s forwards ease-in-out;
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}




#lillelyseblaafisk {
   position: absolute;
   right: 70px;
   top: 120px;
   width: 350px;
   height: 250px;
   animation: svoem 4s forwards ease-in-out;
}


@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}




#piratmandgaar {
   position: absolute;
   right: -700px;
    top: 110px;



 
   /*animation: svoem 4s forwards ease-in-out;*/
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}




/*#piratmandpeger {
   position: absolute;
   right: -380px;
   top: -400px;
   /*animation: svoem 4s forwards ease-in-out;
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}
*/



#ror {
   position: absolute;
   right: -300px;
   top: 150px;
   width: 100px;
    height: auto;
   /*animation: svoem 4s forwards ease-in-out;*/
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}




#flag {
   position: absolute;
   right: -300px;
   top: 150px;
   width: 100px;
    height: auto;
   /*animation: svoem 4s forwards ease-in-out;*/
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}




#kiste {
   position: absolute;
   right: -300px;
   top: 150px;
   width: 100px;
    height: auto;
   /*animation: svoem 4s forwards ease-in-out;*/
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}




#groenalge {
   position: absolute;
   right: -20px;
   top: 20px;
   /*animation: svoem 4s forwards ease-in-out;*/
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}




#orangetang {
   position: absolute;
   right: -800px;
   top: 20px;
   /*animation: svoem 4s forwards ease-in-out;*/
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}




#musling {
   position: absolute;
   right: 970px;
   top: 560px;
   height: 400px;
    width: 800px;
  
   /*animation: svoem 4s forwards ease-in-out;*/
}
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}

#soestjerne {
   position: absolute;
   right: 1000px;
   top: 700px;
   height: 50px;
    width: 50px;
  
   /*animation: svoem 4s forwards ease-in-out;*/
}






/* Herunder er guide til inforboks */


/* Info omådet (her vises informationer om det man klikker på */
#info {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 10vh;
 background-color: var(--moerk);
 color: var(--color-4);
 text-align: center;
 padding: 20px;
}


p {
 max-width: 33ch;
 margin: auto;
}


/* Herunder er guide til animationer */


/* Animationer */
figure#Guldfisk {
   position: absolute;
   right: -300px;
   top: 150px;
   animation: svoem 4s forwards ease-in-out;
}


/* Fiskeanimationens keyframes */
@keyframes svoem {
0% {
       transform: translateX(0px);
   }
 100% {
       transform: translateX(-1000px);
 }
}
/* Animationsklasse */



/* Responsivt design */
/* Storcenter Nord Skærm */
@media (min-width: 4536px) {
  #info {
    height: 2835px;
    font-size: 1.5rem;
  }
}



