/**
 * Akvarium CSS udkast
 **/

/* Fjerner whitespace */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* Variabler: farvepaletten er lavet i JsFiddle */
 :root {
  --color-1: rgb(109 181 202);
  --color-2: rgb(184 216 224);
  --color-3: rgb(252 245 239);
  --color-4: rgb(255 114 53);
  --moerk: #000;
}

/* HD-skærmen er 1920x1080px og vi positionerer med absolute */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  touch-action: manipulation;
  font-family: sans-serif;
}

/* Position absolute gør måske positionering af sætstykker lettere */

#scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /*background-color: var(--color-2);*/
  background-image: url('../images/baggrund.png');
  background-size: cover;
  background-repeat: no-repeat;

}

/* Herunder kommer vores fiske animationer */



